{%- set cover_title -%}
   {%- if CI_COMMIT_TAG is defined -%}
      {{CI_COMMIT_TAG}} Release
   {%- else -%}
      DRAFT version {{CI_COMMIT_SHORT_SHA | default("local")}}
   {%- endif -%}
{% endset -%}

{%- set site_name -%}{% block site_name %}Gaia-X Document{% endblock %}{% endset -%}

site_name: {{ site_name }} - {{ cover_title }}
theme: readthedocs
repo_url: {% block rep_url %}{{CI_PROJECT_URL}}{% endblock %}
edit_uri: {% block edit_url %}edit/master/{{DOCS_DIR}}/{% endblock %}
docs_dir: {% block docs_dir %}{{DOCS_DIR}}{% endblock %}
site_dir: public
extra_css: [extra.css]
extra_javascript:
  - https://unpkg.com/mermaid@8.13.2/dist/mermaid.min.js
  - extra.js

{% block nav %}
nav:
 #- README.md
{% endblock %}

plugins:
 - search
 - mermaid2
 - exclude:
    glob:
    - glossary/*
 - enumerate-headings
 - include-markdown

markdown_extensions:
 - smarty
 - toc
 - footnotes
 - plantuml_markdown:
      server: http://www.plantuml.com/plantuml
 - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_png
